<body>

    <div class="container">
        <mat-card class="title-card">
            <mat-card-header>Saverrr</mat-card-header>
            <mat-card-content>Randomly generate a lovely message for your SO</mat-card-content>
          </mat-card>
          
        <mat-chip-listbox aria-label="Fish selection">
            <mat-chip-option>One fish</mat-chip-option>
            <mat-chip-option>Two fish</mat-chip-option>
            <mat-chip-option color="accent" selected>Accent fish</mat-chip-option>
            <mat-chip-option color="warn">Warn fish</mat-chip-option>
        </mat-chip-listbox>
        <button mat-raised-button color="primary" (click)="generate()">Generate</button>

    <div>
        {{message}}

    </div>

    </div>
</body> 